body{
background-color: rgba(255, 255, 0, 0.178);
}

h3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: black;
    margin: 0 600px 0 600px;
    height: 30px;
    color: aqua;
    border-radius: 10px;
}




.card{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:300PX;
  height: 400px;
  background-color:white;
  backdrop-filter:blur;
  padding: 40PX;
  border-radius:18px ;
  display: flex;
  justify-content: center;
}
.btn{
  margin-left: 45px;
  margin-top: 45px;
  width: 130px;
  background-color: black;
  color: aqua;
  padding: 7px;
  border-radius: 10px;
}
.btn:hover{
    background-color:rgba(255, 255, 0, 0.301);
    color: black;
}

.result{
    
    margin-top: 40px;
    font-size: 16px;
}